* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'SourceCode-regular';
    src: url(/fonts/static/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: 'SourceCode-mediumitalic';
    src: url(/fonts/static/SourceCodePro-MediumItalic.ttf);
}

@font-face {
    font-family: 'SourceCode-bold';
    src: url(/fonts/static/SourceCodePro-Bold.ttf);
}

body {
    width: 100vw;
    height: auto;
    font-family: SourceCode-regular;
    background-color: #FFF;
    transition: .5s;
    overflow-x: hidden;
}

body.escuro, header.escuro {
    background-color: #353535;
}

header {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 7.5vh;
    display: flex;
    background-color: #FFF;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.3vh solid #5D9ADC;
    line-height: 7.5vh;
    transition: .5s;
}

.tag {
    position: relative;
    width:50vw;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}

.name-tag {
    position: relative;
    width: 40vw;
    height: 7.5vh;
    font-family: SourceCode-mediumitalic;
    font-size: 2vh;
    color: #000;
}

.name-tag.escuro {
    color: #FFF;
}

.menu-desktop {
    position: relative;
    width: 50vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.links {
    position: relative;
    width: 35vw;
    height: 7.5vh;
    font-size: 2vh;
    display: flex;
    justify-content: space-around;
}

.links a {
    position: relative;
    margin: auto;
    text-decoration: none;
}

.links a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2vh;
    bottom: 2vh;
    left: 0;
    background-color: #5D9ADC;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
  
.links a:hover:after {
    transform: scaleX(1);
}

.a1, .a2, .a3, .a4 {
    color: #000;
}

.a1.escuro, .a2.escuro, .a3.escuro, .a4.escuro{
    color: #FFF;
}

.configuracoes {
    position: relative;
    width: 5vw;
    height: 7.5vh;
    display: flex;
}

.configuracoes img {
    width: 3.25vw;
    height: 6vh;
    margin: auto;
    cursor: pointer;
}

#configs {
    transform: rotate(0deg);
    transition: .5s;
}

#configs.aberto {
    transform: rotate(-90deg);
}

.modal-configuracoes {
    position: absolute;
    width: 14vw;
    height: 12vh;
    background-color: #FFF;
    border: 0.1vh solid #000;
    top: 7.8vh;
    left: 28.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .35s;
    opacity: 0;
    pointer-events: none;
}

.modal-configuracoes.aberto {
    opacity: 1;
    transition: opacity .5s;
    pointer-events: all;
}

.idioma {
    position: relative;
    width: 14vw;
    height: 6vh;
    background-color: #FFF;
    border-bottom: 0.1vh solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

.pt, .en {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.pt.selecionado, .en.selecionado {
    color: #9F9F9F;
    pointer-events: none;
}

.pt img, .en img {
    width: 2vw;
    height: 4vh;
}

.tema {
    position: relative;
    width: 14vw;
    height: 6vh;
    background-color: #FFF;
    border-bottom: 0.1vh solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
}

.btn {
    position: absolute;
    width: 3vw;
    height: 2vh;
    background-color: #FFF;
    border: 0.3vh solid #000;
    border-radius: 3vh;
    cursor: pointer;
    top: 0.6vh;
    transition: .5s;
}

.btn.escuro {
    background-color: #000;
}

.btn:before {
    content: '';
    position: absolute;
    width: 1vw;
    height: 1.9vh;
    background-color: #000;
    border-radius: 0.5vw;
    top: 0.98vh;
    left: 0.1vw;
    transform: translateY(-50%);
    transition: left .5s;
}

.btn.escuro:before {
    background-color: #FFF;
    left: 2vw;
}

.light {
    margin-top: 0.8vh;
    display: flex;
}

.light.escuro {
    display: none;
}

.dark {
    margin-top: 0.8vh;
    display: none;
}

.dark.escuro {
    display: flex;
}

main {
    position: relative;
    width: 100vw;
    height: 180vh;
    padding-top: 8vh;
}

.inicio {
    position: relative;
    width: 70vw;
    height: 65vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conteudo1-inicio {
    position: relative;
    width: 35vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo2-inicio {
    position: relative;
    width: 35vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.introducao {
    position: relative;
    width: 35vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resumo {
    position: relative;
    width: 35vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumo-text {
    position: relative;
    width: 35vw;
    height: 5vh;
    font-size: 3.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.resumo-text.escuro {
    color: #FFF;
}

.developer {
    position: relative;
    width: 22vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer-text {
    position: relative;
    width: 22vw;
    height: 15vh;
    font-family: SourceCode-bold;
    font-size: 5.4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5D9ADC;
}

.servicos {
    position: relative;
    width: 35vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stack1, .stack2, .stack3 {
    position: relative;
    width: 10vw;
    height: 3vh;
    background-color: #353535;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.stack1.escuro, .stack2.escuro, .stack3.escuro, .cv.escuro {
    background-color: #212121;
}

.foto {
    position: relative;
    width: 13vw;
    height: 26vh;
    margin-bottom: 4vh;
}

.foto img {
    width: 13vw;
    height: 26vh;
    border-radius: 100%;
    box-shadow: 1.2vw 1.7vh 2vw rgba(0, 0, 0, 0.25);
}

.cv {
    position: relative;
    width: 13vw;
    height: 6vh;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cv-text {
    font-size: 2.8vh;
    color: #FFF;
}

.cv:hover {
    transform: scale(1.05);
}

.sobre-mim {
    position: relative;
    width: 70vw;
    height: 105vh;
    margin: 20vh auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre-mim-conteudo {
    position: relative;
    width: 50vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre-mim-titulo {
    position: relative;
    width: 10vw;
    height: 100vh;
    border-right: 0.3vh solid #000;
    display: flex;
    justify-content: center;
}

.container-sobre-mim-titulo {
    position: relative;
    width: 10vw;
    height: 15vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-sobre-mim {
    position: relative;
    width: 10vw;
    height: 7.5vh;
    font-size: 5.4vh;
    font-family: SourceCode-bold;
    color: #000;
}

.titulo-sobre-mim.escuro {
    color: #FFF;
}

.titulo-blue {
    position: relative;
    width: 10vw;
    height: 7.5vh;
    font-size: 5.4vh;
    font-family: SourceCode-bold;
    color: #5D9ADC;
}

.sobre-mim-textos {
    position: relative;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto1, .texto2, .texto3, .texto4 {
    position: relative;
    width: 35vw;
    height: 23vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;
}

.img-texto1, .img-texto2, .img-texto3, .img-texto4 {
    position: relative;
    width: 17.5vw;
    height: 23vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes circle {
    0% {
        transform:rotate(0deg)
                  translate(-5px)
                  rotate(0deg);
      
    }
    100% {
        transform:rotate(360deg)
                  translate(-5px)
                  rotate(-360deg);
    }
}

.img-texto1 img {
    position: relative;
    width: 7.5vw;
    height: 12vh;
}

.img-texto2 img {
    position: relative;
    width: 6vw;
    height: 10vh;
}

.img-texto3 img {
    position: relative;
    width: 12vw;
    height: 9vh;
}

.img-texto4 img {
    position: relative;
    width: 5vw;
    height: 10vh;
}

.conteudo-texto1, .conteudo-texto2, .conteudo-texto3, .conteudo-texto4 {
    position: relative;
    width: 17.5vw;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    text-align: justify;
    color: #000;
}

.conteudo-texto1.escuro, .conteudo-texto2.escuro, .conteudo-texto3.escuro, .conteudo-texto4.escuro {
    color: #FFF;
}

.p-texto1, .p-texto2, .p-texto3, .p-texto4 {
    position: relative;
    width: 17vw;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habilidades {
    position: relative;
    width: 100vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades-sociais, .habilidades-tecnicas {
    position: relative;
    width: 75vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.habilidades-sociais-titulo {
    position: relative;
    width: 40vw;
    height: 7.5vh;
    color: #000;
}

.habilidades-sociais-titulo.escuro, .habilidades-tecnicas-titulo.escuro {
    color: #FFF;
}

.sociais-cards, .tecnicas-cards {
    position: relative;
    width: 75vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sociais, .container-tecnicas {
    position: relative;
    width: 70vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.seta-esquerda1, .seta-direita1, .seta-esquerda2, .seta-direita2 {
    position: relative;
    width: 1vw;
    height:4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s all;
    filter: invert(0%);
}

.seta-esquerda1:hover, .seta-direita1:hover, .seta-esquerda2:hover, .seta-direita2:hover {
    transform: scale(1.2);
    transition: 0.25s all;
    cursor: pointer;
}

.seta-esquerda1 img, .seta-direita1 img, .seta-esquerda2 img, .seta-direita2 img {
    position: relative;
    width: 1vw;
    height:4vh;
}

.seta-esquerda1.escuro, .seta-direita1.escuro, .seta-esquerda2.escuro, .seta-direita2.escuro {
    filter: invert(100%);
}

.container-t-cards1, .container-t-cards2, .container-t-cards3 {
    position: relative;
    width: 20vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -2.2vh 2.2vh 1.5vh rgba(0, 0, 0, 0.25);
    border-radius: 3vh;
}

.s-cards1, .s-cards2, .s-cards3 {
    position: relative;
    width: 20vw;
    height: 60vh;
    border-radius: 3vh;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -2.2vh 2.2vh 1.5vh rgba(0, 0, 0, 0.25);
}

.s-cards1.escuro, .s-cards2.escuro, .s-cards3.escuro, .t-cards1.escuro, .t-cards2.escuro, .t-cards3.escuro {
    background-color: #212121;
    box-shadow: -2.2vh 2.2vh 1.5vh rgba(0, 0, 0, 0.75);
}

.t-cards1, .t-cards2, .t-cards3 {
    position: relative;
    width: 20vw;
    height: 60vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.etiqueta-card1, .etiqueta-card2, .etiqueta-card3, .etiqueta-card4 {
    position: relative;
    width: 20vw;
    height: 5vh;
    background-color: #383838;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0vh 3vh 3vh -1.5px rgba(0,0,0,0.75);
    transition: 0.4s all;
}

.etiqueta-card1.escuro, .etiqueta-card2.escuro, .etiqueta-card3.escuro, .etiqueta-card4.escuro {
    background-color: #111111;
    box-shadow: inset 0vh 3vh 3vh -1.5px rgba(0,0,0,0.75);
    box-shadow: -2.2vh 2.2vh 1.5vh rgba(0, 0, 0, 0.75);
}

.etiqueta-card1 img, .etiqueta-card2 img, .etiqueta-card3 img, .etiqueta-card4 img {
    position: relative;
    width: 1.7vw;
    height: 2.1vh;
}

.etiqueta-card1:hover, .etiqueta-card2:hover, .etiqueta-card3:hover, .etiqueta-card4:hover {
    transition: 0.25s all;
    height: 6vh;
    cursor: pointer;
}

.s-cards-img, .t-cards-img {
    position: relative;
    width: 11vw;
    height: 24vh;
}

.s-cards-img img, .t-cards-img img {
    position: relative;
    width: 11vw;
    height: 24vh;
}

.s-cards-nome, .t-cards-nome {
    position: relative;
    width: 12vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-cards-nome p, .t-cards-nome p {
    font-family: SourceCode-bold;
    font-size: 2vw;
    text-align: center;
    color: #FFF;
}

.s-cards-star, .t-cards-star {
    position: relative;
    width: 16vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-cards-star img, .t-cards-star img {
    position: relative;
    width:2.5vw;
    height: 4.5vh;
}

.habilidades-sociais-titulo p, .habilidades-tecnicas-titulo p {
    font-size: 5.4vh;
    font-family: SourceCode-bold;
}

.habilidades-tecnicas-titulo p {
    float: right;
}

.container-t-cards4 {
    position: relative;
    width: 20vw;
    height: 65vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -2.2vh 2.2vh 1.5vh rgba(0, 0, 0, 0.25);
}

.s-cards4 {
    position: relative;
    width: 20vw;
    height: 60vh;
    border-radius: 3vh;
    background-color: #707070;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.t-cards4 {
    position: relative;
    width: 20vw;
    height: 60vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}