* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'SourceCode-regular';
    src: url(/fonts/static/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: 'SourceCode-mediumitalic';
    src: url(/fonts/static/SourceCodePro-MediumItalic.ttf);
}

@font-face {
    font-family: 'SourceCode-bold';
    src: url(/fonts/static/SourceCodePro-Bold.ttf);
}

body {
    width: 100vw;
    height: auto;
    font-family: SourceCode-regular;
    background-color: #FFF;
    transition: .5s;
    overflow-x: hidden;
}

body.escuro, header.escuro {
    background-color: #353535;
}

header {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 7.5vh;
    display: flex;
    background-color: #FFF;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.3vh solid #5D9ADC;
    line-height: 7.5vh;
    transition: .5s;
}

.tag {
    position: relative;
    width:50vw;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}

.name-tag {
    position: relative;
    width: 40vw;
    height: 7.5vh;
    font-family: SourceCode-mediumitalic;
    font-size: 2vh;
    color: #000;
}

.name-tag.escuro {
    color: #FFF;
}

.menu-desktop {
    position: relative;
    width: 50vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.links {
    position: relative;
    width: 35vw;
    height: 7.5vh;
    font-size: 2vh;
    display: flex;
    justify-content: space-around;
}

.links a {
    position: relative;
    margin: auto;
    text-decoration: none;
}

.links a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2vh;
    bottom: 2vh;
    left: 0;
    background-color: #5D9ADC;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
  
.links a:hover:after {
    transform: scaleX(1);
}

.a1, .a2, .a3, .a4 {
    color: #000;
}

.a1.escuro, .a2.escuro, .a3.escuro, .a4.escuro{
    color: #FFF;
}

.configuracoes {
    position: relative;
    width: 5vw;
    height: 7.5vh;
    display: flex;
}

.configuracoes img {
    width: 3.25vw;
    height: 6vh;
    margin: auto;
    cursor: pointer;
}

#configs {
    transform: rotate(0deg);
    transition: .5s;
}

#configs.aberto {
    transform: rotate(-90deg);
}

.modal-configuracoes {
    position: absolute;
    width: 14vw;
    height: 12vh;
    background-color: #FFF;
    border: 0.1vh solid #000;
    top: 7.8vh;
    left: 28.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .35s;
    opacity: 0;
    pointer-events: none;
}

.modal-configuracoes.aberto {
    opacity: 1;
    transition: opacity .5s;
    pointer-events: all;
}

.idioma {
    position: relative;
    width: 14vw;
    height: 6vh;
    background-color: #FFF;
    border-bottom: 0.1vh solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

.pt, .en {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.pt.selecionado, .en.selecionado {
    color: #9F9F9F;
    pointer-events: none;
}

.pt img, .en img {
    width: 2vw;
    height: 4vh;
}

.tema {
    position: relative;
    width: 14vw;
    height: 6vh;
    background-color: #FFF;
    border-bottom: 0.1vh solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
}

.btn {
    position: absolute;
    width: 3vw;
    height: 2vh;
    background-color: #FFF;
    border: 0.3vh solid #000;
    border-radius: 3vh;
    cursor: pointer;
    top: 0.6vh;
    transition: .5s;
}

.btn.escuro {
    background-color: #000;
}

.btn:before {
    content: '';
    position: absolute;
    width: 1vw;
    height: 1.9vh;
    background-color: #000;
    border-radius: 0.5vw;
    top: 0.98vh;
    left: 0.1vw;
    transform: translateY(-50%);
    transition: left .5s;
}

.btn.escuro:before {
    background-color: #FFF;
    left: 2vw;
}

.light {
    margin-top: 0.8vh;
    display: flex;
}

.light.escuro {
    display: none;
}

.dark {
    margin-top: 0.8vh;
    display: none;
}

.dark.escuro {
    display: flex;
}

main {
    position: relative;
    width: 100vw;
    height: 180vh;
    padding-top: 8vh;
}

.inicio {
    position: relative;
    width: 70vw;
    height: 65vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conteudo1-inicio {
    position: relative;
    width: 35vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo2-inicio {
    position: relative;
    width: 35vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.introducao {
    position: relative;
    width: 35vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resumo {
    position: relative;
    width: 35vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumo-text {
    position: relative;
    width: 35vw;
    height: 5vh;
    font-size: 3.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.resumo-text.escuro {
    color: #FFF;
}

.developer {
    position: relative;
    width: 22vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer-text {
    position: relative;
    width: 22vw;
    height: 15vh;
    font-family: SourceCode-bold;
    font-size: 5.4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5D9ADC;
}

.servicos {
    position: relative;
    width: 35vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stack1, .stack2, .stack3 {
    position: relative;
    width: 10vw;
    height: 3vh;
    background-color: #353535;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.stack1.escuro, .stack2.escuro, .stack3.escuro, .cv.escuro {
    background-color: #212121;
}

.foto {
    position: relative;
    width: 13vw;
    height: 26vh;
    margin-bottom: 4vh;
}

.foto img {
    width: 13vw;
    height: 26vh;
    border-radius: 100%;
    box-shadow: 1.2vw 1.7vh 2vw rgba(0, 0, 0, 0.25);
}

.cv {
    position: relative;
    width: 13vw;
    height: 6vh;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cv-text {
    font-size: 2.8vh;
    color: #FFF;
}

.cv:hover {
    transform: scale(1.05);
}

.sobre-mim {
    position: relative;
    width: 70vw;
    height: 100vh;
    margin: auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre-mim-conteudo {
    position: relative;
    width: 50vw;
    height: 90vh;
    margin: auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre-mim-titulo {
    position: relative;
    width: 15vw;
    height: 90vh;
    background-color: burlywood;
    border-right: 0.3vh solid #000;
    display: flex;
    justify-content: center;
}

.container-sobre-mim-titulo {
    position: relative;
    width: 10vw;
    height: 15vh;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
}

.titulo-sobre-mim {
    position: relative;
    width: 10vw;
    height: 15vh;
    background-color: darkblue;
    font-size: 5.4vh;
    font-family: SourceCode-bold;
    color: #000;
}

.titulo-blue {
    color: #5D9ADC;
}

.sobre-mim-textos {
    position: relative;
    width: 35vw;
    height: 90vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}